* {
    font-family: Arial, sans-serif;
    color: rgb(70, 70, 70);
}

.Latest_Ver {
    position: relative;
    background-color: rgb(127, 127, 255);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block; 
    width: 180px;
    height: 17px;
    transition: background-color .25s ease-in-out;
    &:hover {
        background-color: rgb(118, 118, 237);
    }
}

.Latest_Ver .circle {
    background-color: rgb(105, 105, 211);
    border-radius: 10px;
    position: absolute;
    width: 10px;
    height: 10px;
    /*animation-name: slideAndFade;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;*/
}

.Latest_Ver span {
    position: absolute;
    z-index: 1;
    user-select: none; 
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.Downloads {
    position: relative;
    background-color: rgb(127, 127, 255);
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    color: black;
    overflow: hidden;
    vertical-align: middle;
    display: inline-block; 
    width: 180px;
    height: 17px;
    cursor: pointer;
    transition: background-color .25s ease-in-out;
    &:hover {
        background-color: rgb(118, 118, 237);
    }
}

.Downloads .circle {
    background-color: rgb(105, 105, 211);
    border-radius: 10px;
    position: absolute;
    width: 10px;
    height: 10px;
    /*animation-name: slideAndFade;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;*/
}

.Downloads span {
    position: absolute;
    z-index: 1;
    user-select: none; 
    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.animate {
    animation-name: slideAndFade;
    animation-duration: .75s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
}

header {
    position: absolute;
    top: 0%;
    left: 0%;
    background-color: rgb(113, 113, 227);
    width: 100%;
    height: 40px;
}

.img_container_ {
    display: inline-block;
}

.download {
    color: white;
    margin-top: 6px;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: rgb(86, 86, 171);
    transition: background-color 0.5s ease-in-out;
    pointer-events: auto;
    &:hover {
        background-color: rgb(60, 60, 124);
    }
}

header #wrap {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    width: 97.5%;
    top: 0;
    pointer-events: none;
}

.docs {
    color: white;
    margin-top: 6px;
    text-decoration: none;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: rgb(86, 86, 171);
    transition: background-color 0.5s ease-in-out;
    margin-right: 110px;
    pointer-events: auto;
    &:hover {
        background-color: rgb(60, 60, 124);
    }
}

header #wrap2 {
    position: absolute;
    display: flex;
    justify-content: flex-end;
    left: 0;
    width: 97.5%;
    top: 0;
    pointer-events: none;
}

#ver {
    color: rgb(118, 118, 118);
}

#info_ {
    margin-top: 35px;
}

#description_ {
    position: absolute;
    width:370px;
    margin-left: 215px;
    margin-top: -110px;
}

.Latest_Ver {
    position: absolute;
    margin-top: 60px;
    margin-left: 10px;
}

.Downloads {
    position: absolute;
    margin-top: 60px;
    margin-left: 210px
}

body {
    pointer-events: none;
}

html {
    pointer-events: none;
}

.container_ {
    pointer-events: auto;
}

.wrap_ {
    display: inline;
}

.wrap_2_ {
    display: inline;
}

@media screen and (max-width: 700px) {
    .img_container_ {
        display: flex;
        width: 100vw;
        height: 200px;
        margin-top: 10px;
        justify-content: center;
    }
    #name_ {
        margin-top: 10px;
        text-align: center;
        width: 97vw;
    }
    #info_ {
        margin-top: 45px;
        text-align: center;
        width: 97vw;
    }
    #description_ {
        margin-left: 2.5%;
        margin-right: 0;
        margin-top: 67.5px;
        margin-bottom: 0;
        text-align: center;
        width: 95%;
    }
    .Latest_Ver {
        margin-top: 175px;
        
    }
    .Downloads {
        margin-top: 175px;
    }
    .Latest_Ver {
        margin-top: 0;
        margin-bottom: 0;
    }
    .wrap_ {
        margin-top: 175px;
        display: flex;
        position: absolute;
        width: 100vw;
        height: 17px;
        justify-content: left;
    }
    .Downloads {
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 7px;
    }
    .wrap_2_ {
        margin-top: 175px;
        display: flex;
        position: absolute;
        width: 100vw;
        height: 17px;
        justify-content: right;
    }
    .container_ {
        left: 0;
    }
}

@media screen and (max-width: 400px) {
    .wrap_ {
        margin-top: 185px;
        justify-content: center;
    }
    .wrap_2_ {
        margin-top: 220px;
        justify-content: center;
    }
    .Latest_Ver {
        margin-left: 0px;
    }
    .Downloads {
        margin-left: 0;
        margin-right: 0;
    }
}

/* CSS */
.loader {
  width: 100vw;
  height: 100vh;
  margin-top: 0px;
  top: 0;
  left: 0;
  background-color: white;
  position: absolute;
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 1;
  text-align: center;
  transform: opacity 0.5s ease-in-out;
}

.spinner {
  width: 35%;
  height: 35%;
  display: block;
  margin: 0 auto;
  animation: rotate /*1.3s*/1.3s linear infinite;
}

.path {
  stroke: #2189ff;              /* single color */
  stroke-linecap: round;
  stroke-dasharray: 90, 150; /* smoother arc length */
  stroke-dashoffset: 0;
  animation: dash /*1.3s*/1.3s ease-in-out infinite;
}

/* Rotate the whole SVG continuously */
@keyframes rotate {
  100% { transform: rotate(360deg); }
}

/* Smooth arc expansion/contraction */
@keyframes dash {
  0%   { stroke-dasharray: 1, 200; stroke-dashoffset: 0; }
  50%  { stroke-dasharray: 90, 150; stroke-dashoffset: -35; }
  100% { stroke-dasharray: 1, 200; stroke-dashoffset: -125; }
}


@keyframes slideAndFade {
    0% {
        opacity: 0;
        width: 0%;
        height: 0%;
    }
    
    40% {
        top: 0%;
        left: 0%;
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    75% {
        top: 0%;
        left: 0%;
        opacity: 1;
        width: 100%;
        height: 100%;
    }

    100% {
        top: 0%;
        left: 0%;
        opacity: 0;
        width: 100%;
        height: 100%;
    }
}
